{{define "comment"}}
{{if .}}
    <div class="card-body flex-container my-reply">
                        <div class="my-profile-image">
                          <img src="public/img/banner.jpg" alt="Profile picture">
                          <small style="text-align: left;">Olagunju Abdul-Hammid</small>
                        </div>
                        <div class="my-body-content">
                          <p class="card-text">{{.Comments}}</p>
                          <div class="my-card-footer">
                              <div class="flex-container">
                                  <div class="flex-container-buttons">
                                      <div><button type="button" class="btn btn-outline-dark"> <small>Like</small></button></div>
                                      <div><button type="button" class="btn btn-outline-dark"><small>Unlike</small></button></div>
                                      <div><button type="button" class="btn btn-outline-dark"> <small>Reply</small></button></div>
                                      <div><button type="button" class="btn btn-outline-danger"><small>Report</small></button></div>
                                  </div>                
                                  <div><small class="text-muted right">{{.Time}} ago</small></div>
                              </div>
                          </div>    
                        </div>                          
                      </div> 
                      {{end}}
                      <!--Reply ends here...-->
                      {{end}}
