 
    </div> <!-- /.starter-template -->

  </main><!-- /.container -->



   <!-- Modal ProjectModalCenter-->
   <div class="modal fade" id="newProjectModalCenter" tabindex="-1" role="dialog" aria-labelledby="newProjectModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top" role="document">
      <!-- Modal Form -->
        <form method="POST" enctype="multipart/form-data" action="/new-project">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newProjectModalCenterTitle">Add A New Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                <div class="form-group">
                  <label for="exampleFormControlInput1">Project Title</label>
                  <input type="text" class="form-control" name="title" id="title" placeholder="">
                </div>                
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                </div>                
                  <div class="row">
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Project Duration </label>
                        <input type="text" class="form-control" name="duration" id="duration" placeholder="in months">
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Project Cost</label>
                        <input type="text" class="form-control" name="cost" id="cost" placeholder="in M$">
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Sector</label>
                      <select class="form-control" name="sector" id="sector">
                        <option value="agriculture">Agriculture</option>
                        <option value="education">Education</option>
                        <option value="health">Health</option>
                        <option value="infrastructure">Infrastructure</option>
                        <option value="oil">Oil & Gas</option>
                        <option></option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="media">Uplaod media</label>
                        <input type="file" name="media" class="form-control-file" id="exampleFormControlFile1">
                      </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
    </div>
  </div>


     <!-- Modal support/aggainst modal-->
     <div class="modal fade" id="commentModalCenter" tabindex="-1" role="dialog" aria-labelledby="commentModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-top" role="document">
        <!-- Modal Form -->
        <form class="supportForm" method="POST" enctype="multipart/form-data" action="/comment">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="commentModalCenterTitle">Add a comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">              
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  

 
 
 
 
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="/public/scripts/home.js"></script>
  </body>
</html>
