
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Floating labels example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/css/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin">
      <div class="text-center mb-4">
            <img class="mb-4" src="" alt="Some Images" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
        </div>
        <!-- <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
         </ul> -->
        

      <div class="form-label-group">
        <input type="text" id="inputName" class="form-control" placeholder="full name" required autofocus>
        <label for="inputEmail">Full Name (First Name First)</label>
      </div>
      
      <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            <label for="inputEmail">Email address</label>
        </div>
    
      <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
      </div>

      <div class="form-label-group">
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
            <label for="inputConfirmPassword">Confirm Password</label>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputNationality" class="form-control" placeholder="Nationality" required>
        <label for="inputNationality">Nationality</label>
      </div>
      <div class="form-label-group">
            <input type="text" id="inputStateOfResidence" class="form-control" placeholder="State of Residence" required>
            <label for="inputStateOfResidence">State of Residence</label>
      </div>    
        
      <div class="form-label-group">
         <input type="tel" id="inputPhoneNumber" class="form-control" placeholder="Pnone Number" required>
         <label for="inputPassword">Phone Number</label>
      </div>
      <div class="form-label-group">
        <input type="text" id="inputDisplayName" class="form-control" placeholder="Display Name" required>
        <label for="inputEmail">Display Name</label>
      </div>

    <div class="form-label-group">
        <input type="date" id="inputDOB" class="form-control" placeholder="Date of Birth" required>
        <label for="inputDOB">Date of Birth</label>
    </div>

    <div class="form-label-group">
        <select name="inputGender" id="inputGender" placeholder="Gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
        </select>
        
    </div>

    <div class="checkbox mb-3">
    <label>
        <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>


      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>


    </form>
  </body>
</html>
